<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>
<div class="zombies">
  <table id ="showTable">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
        <%= render partial: 'zombie', collection: @zombies, as: 'zombie' %>
    </tbody>
  </table>
</div>
<br>

<%= form_for(Zombie.new, remote: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<%= link_to 'New Zombie', new_zombie_path %>
